div {
  color: rgb(249, 249, 249);
  font-size: 15px;
  min-height: 20px;

  @media (max-width: 786px) {
    font-size: 12px;
  }
}

div {
  line-height: 1.4;
  font-size: 20px;
  padding: 16px 0px;
  color: rgb(249, 249, 249);

  @media (max-width: 786px) {
    font-size: 14px;
  }
}
